.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.views {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.view {
  position: absolute;
  inset: 0;
  display: none;
  overflow: hidden;
}

.view--on {
  display: flex;
  flex-direction: column;
}
